SUPABASE_URL=https://lqhorffbplzkniodefeq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxxaG9yZmZicGx6a25pb2RlZmVxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE4OTk4MSwiZXhwIjoyMDkwNzY1OTgxfQ.pXVPZyjUFGJ3PpAdkaKcuA3oN59p4qNj5U8iJNRlXWA
PORT=3001
HOST=0.0.0.0
FRONTEND_URL=http://localhost:3000
